.layout {
    display: flex;
}

.socialBar {
    grid-column: 1 / 3;
    justify-content: start;
    gap: 1rem;
    position: sticky;
    top: 0;
}

.navBar {
    writing-mode: vertical-lr;
    text-orientation: sideways;
    gap: 1rem;
    position: sticky;
    top: 0;
}

.navItem {
    width: max-content;
    height: max-content;
}

.selectedNavItem {
    border-left: 2px solid purple;
}